
<!--
BODY {
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: white;
	text-decoration: none;
	margin-left:	2%;
	margin-right:	2%;
}

A:link {color: #3A50A0;}
A:visited {color: #3A50A0;}
A:hover {color: #EE1111;}

P {
	margin: 1em 0 1em 0;
	text-align: justify;
	width: 800px;
}

H1,H2,H3,H4,H5 {font-weight: bold;color: #3A50A0;}
/*H1 {font-size: 26pt;}
H2 {font-size: 20pt;}
H3 {font-size: 14pt;}
H4 {font-size: 12pt;}
*/
INPUT, SELECT, TEXTAREA {
	font-size: 10pt;
	font-weight: bold;
	color: black;
}

.formbus1 {
	font-size: 10pt;
	font-weight: bold;
	color: #3A50A0;
	margin: 0 0 0 0;
	border: 0 none white;
	padding: 0 0 0 0;
	width: auto;
}

TD.rescab {
	background-color: #3A50A0;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	padding: 0.2em 1em 0.2em 1em;
}

TD.resfield {
	background-color: #DEDADE;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	padding: 0em 0.5em 0em 0.5em;
}

TD.resfield_warn {
	background-color: #f1ec96;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

TD.resfield_error {
	background-color: #ffceb6;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

TD.resfield_claro {
	background-color: #efefef;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

-->
